.text-small {
    font-size: 2px;
}

.cl-start-wrap {
    list-style: none;
    padding: 0;

    width: 100%;
}
.cl-start-wrap ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.cl-start-wrap > li > .cl-label-wrap {
    padding: 7px 0 7px 0px;
    margin: 1px 0;
    background: #dadada;
}
.cl-start-wrap > li > .cl-label-wrap:hover {
    background: #cdcdcd;
}
.cl-start-wrap > li > ul > li > .cl-label-wrap {
    padding: 7px 0 7px 25px;
    background: #fff;
}
.cl-start-wrap > li > ul > li > .cl-label-wrap:hover {
    background: #f2f2f2;
}
.cl-start-wrap > li > ul > li > ul > li > .cl-label-wrap {
    padding: 7px 0 7px 50px;
    background: #fff;
}
.cl-start-wrap > li > ul > li > ul > li > .cl-label-wrap:hover {
    background: #f2f2f2;
}
.cl-item > .cl-label-wrap .cl-label-title {
    cursor: pointer;
}
.cl-item > .cl-label-wrap .cl-label-icon {
    cursor: pointer;
    text-align: center;
}
.cl-item > .cl-label-wrap .cl-label-icon:before {
    cursor: pointer;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.cl-item > .cl-label-wrap .cl-label-tools a {
    color: #9e9e9e;
}
.cl-item > .cl-label-wrap .cl-label-tools a:hover {
    color: #858585;
}
.cl-item:not(.cl-item-open) > ul {
    display: none;
}
.cl-item:not(.cl-item-open) > .cl-label-wrap .cl-label-icon:before {
    content: "\f0da";
}
.cl-item.cl-item-open > .cl-label-wrap .cl-label-icon:before {
    content: "\f0d7";
}
.cl-item.cl-item-no-sub > .cl-label-wrap .cl-label-title {
    cursor: default;
}
.cl-item.cl-item-no-sub > .cl-label-wrap .cl-label-icon:before {
    content: "";
}
.cl-label-wrap {
    display: table-cell;
    -ms-display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}
.cl-label-wrap .cl-label-title {
    order: 1;
    flex: 1 1 auto;
    align-self: auto;
}
.cl-label-wrap .cl-label-icon {
    order: 0;
    flex: 0 1 1.5em;
    align-self: auto;
}
.cl-label-wrap .cl-label-tools {
    order: 2;
    flex: 0 1 auto;
    align-self: auto;
    white-space: nowrap;
    padding: 0 10px;
}
